*{
box-sizing: border-box;	
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;

}
body{
	margin: 0;
	background-color: #eee;
}
.container{
	width: 1000px;
	min-height: 600px;
	margin: 0 auto;
	background: #fff;

}

.container header{
	width: 100px;
	height: 100px;
	padding: 20px;

}

.container header h3{
	margin: 0;
}
.container header h3 img{
	width: 300px;

}

.container nav{
	width: 100%;
	height: 50px;
	background: #237;
	padding: 8px 0;

}

.container nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

.container nav ul li{
	float: left;
}

.container nav ul li a{
	color: #237;
	display: block;
	width: 120px;
	height: 35px;
	background: #eee;
	font-size: 17px;
	margin: 0 15px;
	text-decoration: none;
	text-align: center;
	padding: 7px;

}

.container nav ul li a:hover{
	color: #f34;
}

.container .slider{
position: relative;
width: 100%;
height: 350px;
/*background: #999;*/
background-image: url('../image/slider.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 80px 40px;

}

.container .slider .overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.container .slider .content{
	position: relative;
	width: 40%;
	height: 150px;
	background: #fff;
	color: #234;
	float: right;
	z-index: 9999;
	padding: 7px 15px  12px 15px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.container .slider .content h1{
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 27px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.container .slider .content p{
	font-size: 17px;
}

.container .footer-widget{
	display: flex;
	 
}

.container .main1{
	padding-left: 20px;
}
.widget{
	padding: 20px;
}

